/* CSS files add styling rules to your content */

body {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 16px;
  margin: 2em;
  background-color: #e8e8e8;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
}

.attribution { 
  font-size: 11px; 
  text-align: center; 
}

.attribution a { 
  color: hsl(228, 45%, 44%); 
}

.container {
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 5%;
}


.info-text {
  color: hsl(0, 36%, 70%);
  font-weight: 800;
  padding-right: 15%;
  padding-top: 5%;
  font-weight: 400;
}

.padding-left-14 {
  padding-left: 14%;
}

.padding-right {
  padding-right: 10%;
}

.bkg-image {
  
  background-image: url("https://cdn.glitch.com/d3120b40-fcbe-419c-a76e-84c4775d56e4%2Fbg-pattern-desktop.svg?v=1610330345942");
  background-image: Linear, 135deg, from hsl(0, 0%, 100%), to hsl(0, 100%, 98%);
  background-image: Linear, 135deg, from hsl(0, 80%, 86%), to hsl(0, 74%, 74%);
  background-color: #faedf0;
  background-size: cover;
}


.logo {
  padding-top: 10%;
  padding-bottom: 10%;
  width: 40%
}


img {
  width: 100%;
}

h1.pink {
  color: hsl(0, 36%, 70%);
  letter-spacing: 10px;
  text-transform: uppercase;
  font-weight: 300;
}

h1.black {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 10px;
  line-height: 80%;
}

.no-padding {
  padding: 0;
}

#img1 {
  display: block;
}

#img2 {
  display: none;
}

form {
  position: relative;
}

input {
  padding: 0.4rem 2rem;
  font-size: 1rem;
  font-family: "Josefin sans", sans-serif;
  border-radius: 40px;
  width: 80%;
  outline: none;
  border: #ce9797 solid 1px;
  background: transparent;
  margin-top: 5%;
}

input::placeholder {
  color: #ce9797;
}

button {
  position: absolute;
  background: linear-gradient(90deg, #d88f8f, #fb8d8d);
  outline: none;
  border: none;
  top: 0;
  right: 12%;
  padding: 0.5rem 2rem;
  border-radius: 40px;
  cursor: pointer;
  margin-top: 5%;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);;
}

/* MEDIA */

@media all and (max-width: 375px) {
    #img1 {display: none;}
    #img2 {display: block;}
}

@media screen and (max-width: 375px) {
  .left {
    order: 2;
  }
  .right {
    order: 1;
  }
}